/*************************************************************** 
CSS RESET 
***************************************************************/



			/* http://meyerweb.com/eric/tools/css/reset/ 
			   v2.0 | 20110126
			   License: none (public domain)
			*/

			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			/* HTML5 display-role reset for older browsers */
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}
			body {
				line-height: 1;
			}
			ol, ul {
				list-style: none;
			}
			blockquote, q {
				quotes: none;
			}
			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}

			html, body{
				width: 100%;
				margin: 0;
				height: 100%;
				background-color: #ffffff;
			}



/***************************************************************
HEADER AREA
***************************************************************/


			/* CSS för själva bakgrundsbilden */
			/*.header{
				height: 40%;
				background: url(../img/logga_bakgrund.jpg) center center;
				background-size: 300px; 
                background-repeat: no-repeat;
			} */
            
            .header {
            position: relative;
            text-align: center;
            color: white;
            } 

            #logga {
            width: 300px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            margin-bottom: 50px;
            }
			
            #rubrik {
            position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            
            }

            #colorstrip{
                width: 100%; height: 50px;
                border-style: solid;
                border-color: #2d2926;
                background-color: #2d2926;
            }

/***************************************************************
FONTS
***************************************************************/
p {
font-family: 'Noto Serif', serif;
}

h1 {
font-family: 'Libre Baskerville', serif;
color: #e7cd48;
font-size: 30px
}

#apkrubrik{
    font-size: 75px;
}

#omvandlarrubrik{
    font-family: 'Libre Baskerville', serif;
color: #383838;
font-size: 20px
}

#listrubrik{
    font-family: 'Libre Baskerville', serif;
color: #ffffff;
font-size: 20px
}
/*
h1 {
font-family: 'Libre Baskerville', serif;
color: #e7cd48;
font-size: 48px;
}*/

/***************************************************************
COLUMNS
***************************************************************/

#contain {
    position: relative;
    margin: auto;
    max-width: 1000px;
    background: #ffffff;
}

#col1 {
    margin: 0 1% 0 0;
    margin-right: 80px;
    margin-left: 170px;
    width: 200px;
    min-height: 350px;
    /*background: url(../img/right_bakgrund_omvandlar.jpg) center center;
    background-repeat: no-repeat;*/
    display: inline-block;
    vertical-align: top;
}

#omvandlarbild{
    width: 306px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: 50px;
}

 #omvandlarrubrik {
            position: relative;
                top: 50%;
                left: 32%;
                transform: translate(50%, 50%);
            
            }

/*#bakgrundsbild1 {
            width: 280px;
            position: absolute;
            top: 50%;
            left: 32%;
            transform: translate(-50%, -50%);
            
            }
*/
/*
#innercol1 {
    margin: 0 1% 0 0;
    margin-top: 50px;
    margin-right: 80px;
    width: 330px;
    min-height: 250px;
    background: #c56a6a;
    position: relative;
    top: -350px;
    right: -60px;
}
*/

#col2 {
    margin: 0 0 0 1;
    margin-left: 5px;
    width: 450px;
    min-height: 350px;
    /*background: url(../img/right_bakgrund_databas.jpg) center center;
    background-repeat: no-repeat;*/
    display: inline-block;
    vertical-align: top;
}


#listbild{
    width: 306px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

 #listrubrik {
            position: absolute;
                top: 50%;
                left: 68%;
                transform: translate(-50%, -50%);
            }
/***************************************************************
FOOTER
***************************************************************/
footer{
    clear: both;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #e5e4e1;
    color: #2d2926;
}
.center{
    margin: auto;
    width: 60%;
    padding: 10px;
}

/***************************************************************
MEDIAQUERIES
***************************************************************/

/* Tablet */

@media (max-width: 768px){
    #col1, #col2 {
display: block;
    margin: 5% auto;
    width: 90%;
    }
}
